<h3>Editar categoria</h3>
<div class="card mt-3">
  <div class="card-body">
    <form method="post" action="/admin/categoria/edit">
      <input type="hidden" name="id" value="{{category._id}}">
      <div class="form-group">
        <label for="nome">Nome da categoria: </label>
        <input type="text" name="name" class="form-control" placeholder="" value="{{category.name}}" required>
      </div>
      <div class="form-group">
        <label for="slug">Slug: </label>
        <input type="text" name="slug" class="form-control" placeholder="" value="{{category.slug}}" required>
      </div>
      <button type="submit" name="button" class="btn btn-success mt-2">Cadastrar categoria</button>
    </form>
  </div>
</div>
