{{#each erros}}
  <div class="alert alert-danger">
    {{texto}}
  </div>
{{else}}
{{/each}}
<h3>Cadastro de usuário</h3>
<div class="card mt-3">
  <div class="card-body">
    <form method="post" action="/usuarios/novo">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="name">Nome: </label>
          <input type="text" name="name" class="form-control" id="name" required>
        </div>
        <div class="form-group col-md-6">
          <label for="surname">Sobrenome: </label>
          <input type="text" class="form-control" name="surname" id="surname" required>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email: </label>
        <input type="email" class="form-control" name="email" id="email" placeholder="email@exemplo.com" required>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="password">Senha: </label>
          <input type="password" name="password" class="form-control" id="password" placeholder="****" required>
        </div>
        <div class="form-group col-md-6">
          <label for="password2">Repita sua senha: </label>
          <input type="password" name="password2" class="form-control" id="password2" placeholder="****" required>
        </div>
      </div>
      <div class="form-group">
        <label for="address">Endereço: </label>
        <input type="text" class="form-control" id="address" name="address" placeholder="" required>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="city">Cidade: </label>
          <input type="text" class="form-control" name="city" id="city" required>
        </div>
        <div class="form-group col-md-4">
          <label for="state">Estado: </label>
          <select id="state" name="state" class="form-control">
            <option>Acre (AC)</option>
            <option>Alagoas (AL)</option>
            <option>Amapá (AP)</option>
            <option>Amazonas (AM)</option>
            <option>Bahia (BA)</option>
            <option>Ceará (CE)</option>
            <option>Distrito Federal (DF)</option>
            <option>Espírito Santo (ES)</option>
            <option>Goiás (GO)</option>
            <option>Maranhão (MA)</option>
            <option>Mato Grosso (MT)</option>
            <option>Mato Grosso do Sul (MS)</option>
            <option>Minas Gerais (MG)</option>
            <option>Pará (PA)</option>
            <option>Paraíba (PB)</option>
            <option>Paraná (PR)</option>
            <option>Pernambuco (PE)</option>
            <option>Piauí (PI)</option>
            <option>Rio de Janeiro (RJ)</option>
            <option>Rio Grande do Norte (RN)</option>
            <option>Rio Grande do Sul (RS)</option>
            <option>Rondônia (RO)</option>
            <option>Roraima (RR)</option>
            <option>Santa Catarina (SC)</option>
            <option>São Paulo (SP)</option>
            <option>Sergipe (SE)</option>
            <option>Tocantins (TO)</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="Zip">Cep: </label>
          <input type="text" class="form-control" name="zip" id="zip" required>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
  </div>
</div>
